<h2> You Can Edit Your Information.</h2>
<%=form_for (@country) do |c| %>
  <%=c.label :name, "Country Name" %>
  <%=c.text_field :name %>
  <br> <br>
  <%=c.label :capital_city, "Capital City" %>
  <%=c.text_field :capital_city %>
  <br> <br>
  <%=c.label :population, "Population" %>
  <%=c.text_field :population %>
  <br> <br>
  <%=c.submit%>
<% end%>